:root {
  --gray-100: #f9f9fb;
  --gray-200: #e4e6ec;
  --gray-300: #cdcfd5;
  --gray-400: #74798b;
  --gray-500: #4d505c;
  --gray-600: #1f2025;
  --blue-base: #2c46b1;
  --blue-dark: #2c4091;
}

* {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100vh;
}

body {
  background-color: var(--gray-200);
}
